<style>
.content_part {
  width: 45%;
  margin-top: 20px;
}

.CatchPhrase_part {
  color: dimgray;
  background-color: lightyellow;
  text-decoration: underline;
  font-weight: bolder;
  font-family: Verdana;
  font-size: 140%;
  text-shadow: 2px 2px 4px lightgray;
}

.favorite_part {
  float: right;
}

.favorite_part_color {
  color: orange;
}

.image_part {
  width: 40%;
  margin: 0;
  float: left;
  margin: 5%;
  border-radius: ;
  box-shadow: 1px 1px 2px black;
}

.image_size {
    display: inline-block;
    height: 160px;
    width: 230px;
}

.point_part {
  margin-top:  20px;
  margin-left: 30px;
  font-size: midium;
  font-weight: bold;
  color: dimgray;
  text-shadow: 2px 2px 4px lightgray;
}

.description_part {
  color: dimgray;
  float: left;
  font-size: small;
  font-family: Verdana;
  font-weight: bolder;
  text-shadow: 1px 1px 2px lightgray;
}

.how_to_title {
  margin-top: 30px;
  color: orange;
  font-family: Verdana;
  font-weight: bolder;
  text-shadow: 1px 1px 2px gold;
}
</style>

<div class="container content_part">
  <ul class="bxslider">
    <% @result.each do |food| %>
      <li>
        <div class="container CatchPhrase_part">
          <%= food.name %>
          <div class="favorite_part">
            <% if session[:user_id] %>
              <% if  @users_favorite.exists?(:food_id => food.id) %>
                <%= link_to favorites_path(food), remote: true, style: 'display: none', method: :post, class: "favorite favorite_part_color" do %>
                  <i class="far fa-star" style="color: orange;"></i>
                <% end %>
                <%= link_to favorite_path(food), remote: true, method: :delete, class: "not_favorite favorite_part_color" do %>
                  <i class="fas fa-star" style="color: orange;"></i>
                <% end %>
              <% else %>
                <%= link_to favorites_path(food), remote: true, method: :post, class: "favorite favorite_part_color" do %>
                  <i class="far fa-star" style="color: orange;"></i>
                <% end %>
                <%= link_to favorite_path(food), remote: true, style: 'display: none', method: :delete, style: 'display: none', class: "not_favorite favorite_part_color" do %>
                  <i class="fas fa-star" style="color: orange;"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="container" style="display: inline-block;">
          <span class="image_part">
            <% if food.image.attached? %>
              <%= image_tag food.image, class: "image_size" %>
            <% end %>
          </span>
          <div style="float: left;">
            <h5 class="how_to_title">美味しい<%= food.name %>の選び方!!</h5>
            <% food.points.each do |point| %>
            <div class="point_part">
              <i class="fas fa-caret-right fa-1x" style="color: orange;"></i><%= point.point %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="container">
          <div class="container description_part">
            <%= food.description %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<!-- slide show  -bxSlider- -->
<script>
jQuery(document).ready(function() {
  jQuery('.bxslider').bxSlider({
    speed: 1000,        // スライドするスピード
    moveSlides: 1,      // 移動するスライド数
    slideWidth: 1000,   // 各スライドの幅
    adaptiveHeight: true,
    infiniteLoop: true, // スライドをループさせるかどうか
    responsive: true,   // レスポンシブ対応
  })

  jQuery('.favorite').on('ajax:success', function() {
    var self = jQuery(this)
    var dislike = self.siblings('.not_favorite')
    self.toggle()
    dislike.toggle()
  })

  jQuery('.not_favorite').on('ajax:success', function() {
    var self = jQuery(this)
    var like = self.siblings('.favorite')
    like.toggle()
    self.toggle()
  })
})
</script>
<script>
  <% if flash[:notice] %>
    alert('<%= flash[:notice] %>');
  <% end %>
</script>
<!-- class Food < Active::Record::base
  has_many :favorites

  def liked_by?(user)
    favorites.where(user_id: user.id).exists?
  end
end

- @food.each do |food|
  div
    - if food.liked_by?(current_user)
      星の色あり
    - else
      星の色なし -->
